header {
    background: #BBBBBB;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}


nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav li a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}



.principal {
    padding: 30px;
}

#banner {
    width: 100%;
    border: 8px, solid, black;
}

em strong {
    color: red;
}

#missao {
    font-size: 25px;
}

.beneficios {
    text-align: left;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#imgbeneficios{
    width: 50%;
}